.about {
  position: relative;
  background-color: white;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-content {
  background-color: black;
  padding: 50px;
  border-radius: 25px;
  max-width: 85%;
  max-height: 85%;
  color: white;
}

.about-content h2 {
  font-family: "Stylish", serif;
  text-align: center;
  font-weight: 400;
  font-size: 3em;
  margin-bottom: 20px;
}

.about-content p {
  font-family: "Prata", serif;
  text-align: center;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 300%;
}
