<div class="find-match">
  <div class="find-match-content">
    <p>Find Your Perfect GymBuddy Today.</p>
    <%= link_to "Find Match", new_user_session_path, class:"find-match-button"%>
  </div>
</div>
