<div class="banner">
  <div class="banner-content">
    <h1>TOGETHER, WE GO FURTHER!</h1>
    <p>Introducing Gym Buddy, the latest innovative app to revolutionize the fitness industry.<br>Gym Buddy helps gym users find the perfect training partner, whether it's a short-term partner while traveling or a long-term partner for home workouts.<br>For personal trainers and gym facilities, Gym Buddy offers a stress-free booking system. Simply sign up, manage your schedule, add classes, take bookings, and handle all your payments using our convenient app.<br>There's no reason not to get your business or body lean and strong—Gym Buddy is available to download NOW!</p>
  </div>
</div>
