<div class="banner">
  <div class="banner-content">
    <h1>Lorem</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora aspernatur suscipit, illo, modi ex hic obcaecati quas eos, quidem impedit aliquid et recusandae? Quo quod recusandae dolores quibusdam laborum et. Lorem ipsum dolor sit amet consectetur adipisicing elit. Et doloribus quaerat facere velit atque eum, ad dolor itaque tempore ut hic vel consequatur nesciunt necessitatibus, voluptatem laborum ipsa deserunt laboriosam.</p>
  </div>
</div>
