<%= render "shared/navbar"%>
<div class="container centered-div">
  <p>Your account has been successfully created</p>
  <button class="btn btn-violet">Look for a gym buddy</button>
</div>
<%= render "shared/footer"%>
