<h1>Buddies</h1>
<div class="buddy-list">
 <% @accepted_matches.each do |match| %>
  <% profile = @profiles.find { |p| p.id == match.profile_id } %>
 <div class="buddy-item">
   <%#= image_tag profile.profile_image_url, alt: match.full_name %>
   <span class="buddy-name"><%=profile.first_name %></span>
   <span class="buddy-name"><%=profile.last_name %></span>
   <%= button_to 'Unmatch', profile_match_path(profile, match), method: :delete%>
 </div>
 <% end %>
</div>
