<h1>Pending Matches</h1>
<% @pending_matches.each do |match| %>
  <% profile = @profiles.find { |p| p.id == match.profile_id } %>
  <div>
    <p><%= profile.first_name %></p>
    <p> <%= profile.last_name %></p>
    <%= button_to "Accept", accept_profile_match_path(profile, match), method: :patch, class: "btn btn-success" %>
    <%= button_to "Reject", reject_profile_match_path(profile, match), method: :patch, class: "btn btn-danger" %>
  </div>
<% end %>
