@import "card_auth";

.background {
  position: relative;
  background-image: url('https://images.unsplash.com/photo-1519311965067-36d3e5f33d39?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  height: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -12px;
  margin-bottom: -22px;
  border-radius: 0 0 15px 15px;
}


.reset-password {
  text-align: left;

  a {
    color: #2121c9;
    text-decoration: underline;
    transition: transform 0.3s ease; // Transition for transform property

    &:hover {
      transform: scale(1.1); // Corrected property to transform
    }
  }
}
