.banner {
  position: relative;
  background-image: url('https://images.unsplash.com/photo-1519311965067-36d3e5f33d39?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  height: 93vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -12px;
  z-index: -1;
  border-radius:0 0 15px 15px;
}

.banner-content {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 50px;
  border-radius: 8px;
  max-width: 85%;
  max-height: 85%;
  color:white;
}

.banner-content h1 {
  font-family: Roboto serif;
  text-align: left;
  font-weight: 700;
  font-size: 1.7em;
  margin-bottom: 20px;
}

.banner-content p {
  font-family: Roboto Condensed;
  text-align: justify;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 150%;
}
