h1 {
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  flex: 1;
}

.buddy-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buddy-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #7d3c98;
  padding: 15px;
  border-radius: 30px;
  width: 60%;
  max-width: 800px;
  margin: 10px 0;
  color: #fff;
}

.buddy-item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.buddy-item .buddy-name {
  flex-grow: 1;
  text-align: left;
}

.buddy-item button {
  background-color: #5b2c6f;
  border: none;
  color: #fff;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 20px;
  cursor: pointer;
}
