.navbar {
  background-color: black;
  color: white;
  height: 7vh;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 15px 15px;
  position: relative;
}

.logo {
  color: white;
  font-family: Quicksand;
  font-size: 1.2em;
  font-weight:400;
}

.auth-btn {
  color: white;
  background: none;
  padding: 0 10px;
  border: none;
  font-family: Quicksand;
  font-size: 1em;
  cursor: pointer;
}

.auth-btn:hover {
  color: #69207B;
  background-color: white;
  border-radius: 15px;
}
