.new-profile-card {
  width: 60vw;
  height: 100vh;
  border-radius: 25px;
  margin: 40px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #000000 !important;
  color: white;
}

.new-profile-card-header {
  min-width: 100%;
  max-width: 90%;
  max-height: 15%;
  margin: 0 auto;
}

.new-profile-card-header h2 {
  text-align: center;
  font-family: "Alfa Slab One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.new-profile-card-body {
  min-height: 70%;
  padding: 10px 20px;
  max-width: 100%;
  margin: 0;
}

.new-profile-form-inputs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  max-width: 80%;
  margin: 0 auto;
  padding: 15px;
}

.form-row.picture {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-icon-wrapper {
  position: relative;
  display: inline-block;
}

i.profile-icon {
  font-size: 50px;
  margin-top: 10px;
}
i.profile-icon:hover {
  cursor: pointer;
  transition: ease-in-out 0.3s;
  transform: scale(1.02);
}
.profile-image-preview {
  width: 75px; /* Adjust size as needed */
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
}

.verified-badge {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: green;
  color: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.verified-badge i {
  margin: 0;
}

.file-input {
  display: none; /* Hide the actual file input */
}

.form-row {
  max-width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.bio-field {
  min-width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.first-row-field,
.second-row-field {
  max-width: 40%;
  min-width: 40%;
}

.first-name-label,
.last-name-label,
.age-label,
.gender-label,
.location-label,
.level-label,
.bio-label {
  color: white;
  margin-bottom: 10px;
  font-family: "Prata", system-ui;
  font-weight: 400;
  font-style: normal;
  min-width: 100%;
  display: block;
}

.first-name-input,
.last-name-input,
.age-input,
.gender-input,
.location-input,
.level-input {
  color: black;
  background-color: white;
  border-radius: 25px;
  min-width: 90%;
  max-width: 90%;
  height: 25px;
  padding: 10px;
  font-family: "Prata", system-ui;
  font-weight: 400;
  font-style: normal;

}

.bio-input {
  min-width: 96.5%;
  max-width: 100% !important;
  color: black;
  background-color: white;
  border-radius: 25px;
  height: 55px;
  padding: 10px;
  font-family: "Prata", system-ui;
  font-weight: 400;
  font-style: normal;
}

.new-profile-card-action {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 40px;
  font-family: "Stylish", system-ui;
  font-weight: 400;
  font-style: normal;
}

input.custom-btn-primary {
  text-align: center;
  background-color: #54085a;
  border-color: #54085a;
  color: white;
  border-radius: 25px;
  min-width: 10vw;
  max-width: 20vw;
  padding: 10px 20px;
}

input.custom-btn-primary:hover {
  transition: ease-in 0.3s;
  transform: scale(1.02);
}
