.find-my-match{
  min-height: 100vh;
  max-width: 100vw;
}
.heading h1 {
  margin: 5px auto;
  padding: 10px;
  font-family: "Stylish", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5em;
}
.profile-container {
  margin: 0px auto;
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  border-radius: 25px;

}
.row-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  border-radius: 25px;
  margin-bottom: 10px;
}
.profile-card {
   display: flex;
   border-radius: 15px;
   width: 100%;
}

.vertical-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #640463;
  border-radius: 100px 0 0 30px;
  width: 25%;
}
.profile-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  margin-top: 25px;
  padding: 5px;
  background-color: white;
}

.profile-info h2, .profile-info p {
  margin: 0;
  color: white;
  text-align: center;
}

.right-box-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  color: white;
  background-color: #bb7be0;
  border-radius: 0px 35px 35px 0px;
}

.right-box-container > div {
  padding: 25px;
  height: 50%;
}

.top-right-box {
  background-color: #bb7be0;
  border-radius: 0px 35px 0px 0px;
}

.bottom-right-box {
  background-color: black;
  border-radius: 35px 0px 35px 0px;
  padding: 20px;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 5px;
  margin-bottom: 10px;
}
.progress {
  background-color: #2fb133;
  height: 100%;
}

.objective-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  height: 50px;
}

.objective-description {
  margin-bottom: 10px;
}

//inside bottom right
.preferences-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  border-radius: 0 0 35px 0;
}

.preference-column {
  flex: 1;
  margin-right: 20px;
}

.preference-column:last-child {
  margin-right: 0;
}

.preference-column p {
  margin: 5px 0;
}


.profile-info-container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
}

.info-column {
  flex: 1;
  margin-right: 20px;
}

.info-column:last-child {
  margin-right: 0;
}

.info-column p {
  margin: 5px 0;
}

.action-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 10px auto;
}
.button_to, input.refuse-btn, input.accept-btn {
  width: 20vw;
  padding: 10px 20px;
  margin: 0 auto;
  text-align: center;

}


.skip-btn {
  font-family: "stylish-regular", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: white;
  width: 100%;
  padding: 10px;
  border-radius: 25px;
}

.match-btn {
  font-family: "stylish-regular", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  background-color: blueviolet;
  color: white;
  width: 100%;
  padding: 10px;
  border-radius: 25px;

}

.refuse-btn {
  font-family: "stylish-regular", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  background-color: rgb(221, 23, 23);
  color: white;
  width: 100%;
  padding: 10px;
  border-radius: 25px;
}

.accept-btn {
  font-family: "stylish-regular", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  background-color: blueviolet;
  color: white;
  width: 100%;
  padding: 10px;
  border-radius: 25px;

}

.button_to:hover, input.refuse-btn:hover, input.accept-btn:hover  {
  transition: ease-in 0.3s;
  transform: scale(1.02);
}

.fredericka-the-great-regular {
  font-family: "Fredericka the Great", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
}

.prata-regular {
  font-family: "Prata", system-ui;
  font-weight: 300;
  font-size: 1em;
  font-style: normal;
}
